{{#extends "base"}}

{{#block "content"}}
<h1>Log a New Food</h1>
<form method="POST">
    <div>
        <label>Food Name:</label>
        <input type="text" class="form-control" name="foodName" id="foodName"/>
    </div>

    <div>
        <label>Calories:</label>
        <input type="text" class="form-control" name="calories"/>
    </div>

    <div>
        <label>Meal:</label>
        <input type="radio" class="form-check-input" name="meal" value="breakfast"/>
        <label>Breakfast</label>

        <input type="radio" class="form-check-input" name="meal" value="lunch"/>
        <label>Lunch</label>

        <input type="radio" class="form-check-input" name="meal" value="dinner"/>
        <label>Dinner</label>

    </div>

    <div>
        <label>Tags</label>
        <input type="checkbox" class="form-check-input" name="tags" value="homecooked"/>
        <label>Homecooked</label>

        <input type="checkbox" class="form-check-input" name="tags" value="organic"/>
        <label>Organic</label>

        <input type="checkbox" class="form-check-input" name="tags" value="vegetarian"/>
        <label>Vegetarian</label>

        <input type="checkbox" class="form-check-input" name="tags" value="glutten-free"/>
        <label>Glutten Free</label>

    </div>


    {{!-- The submit button allows us to submit a form to a server --}}
    <input type="submit" value="Add new" class="btn btn-primary mt-3"/>
</form>
{{/block}}

{{/extends}}